<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>MyTest</title>
<script th:src="@{js\jquery-3.3.1.min.js}">
</script>
	<script th:src="@{js\stomp_2.3.3.js}"></script>
	<script th:src="@{js\sockjs-client_1.1.4_sockjs.min.js}"></script>
<script th:src="@{js\hello.js}"></script>
	<script>
        $(document).ready(function() {
            REGISTER.InitSecurityAuth();
            REGISTER.POST();
            var min = 80;
            var medium = 100;
            var max = 200;
            var zoom = medium;
            $("#zoom-in").click(function(){
                if(zoom < max){
                    zoom = zoom + 10;
                    $("#newsContainer").css("font-size", zoom+"%");		/*announcement content*/
                }

            });

            $("#zoom-out").click(function(){
                if(zoom > min){
                    zoom = zoom - 10;
                    $("#newsContainer").css("font-size", zoom+"%");		/*announcement content*/
                }
            });

            setInterval(function(){
                //# $('ul :first').css('background', 'red');
                $('ul').children().first().clone(true).appendTo('ul');
                $('ul>:first').remove();
            },1000);

            $("#animateTest").animate({
                left : '160px',
                height :'110px',
                width : '80px',
                opacity : '0.5',
            },10000);


        });
	</script>
</head>
<body>
                    <button type="button" id="zoom-out" class="btn btn-llgrey btn-custom5 pull-right">-A</button>
                    <button type="button" id="zoom-in" class="btn btn-llgrey btn-custom5 pull-right">+A</button>
<div class="container" id="newsContainer">
   <ul>
        <li>announcement  2</li>  
        <li>announcement  3</li>  
        <li>announcement  4</li>  
        <li>announcement  5</li>  
        <li>announcement  6</li>  
        <li>announcement  7</li>  
        <li>announcement  8</li>  
        <li>announcement  9</li>  
        <li>announcement  10</li>  
    </ul>  
</div>
<div id='animateTest'>


</div>
<span id='result'></span>
<form  >
	<table>
		<tr>
		<td>Name:</td>
		<td><input id='name' type="text" name='name' /></td>
		</tr>
		<tr>
		<td>age:</td>
		<td><input id='age' type="text" name='age' /></td>
		</tr>
		<tr>
		<td>Address:</td>
		<td><input id='address' type="text" name='address' /></td>
		</tr>
		<tr>
		<td><input id="csrf" type="hidden" th:value="${_csrf.token}"> </td>
		<td>
			<input type="button" value='submit' onclick='REGISTER.SavePerson()'/>
		</td>
		</tr>
	</table>
</form>
<hr>
<span style='font-size:16px;color:red'>delete</span>
<form>
	<table>
		<tr>
		<td>Name:</td>
		<td><input id='name2' type="text" name='name' /></td>
		</tr>
		<tr>
		<td></td>
		<td>
		<input type="button" value='submit' onclick='REGISTER.deletePerson()'/>
		</td>
		</tr>
	</table>
</form>
<hr>
<span style='font-size:16px;color:red'>patch</span>
<form>
	<table>
		<tr>
		<td>Name:</td>
		<td><input id='name3' type="text" name='name' /></td>
		</tr>
		<tr>
		<td>age:</td>
		<td><input id='age3' type="text" name='age' /></td>
		</tr>
		<tr>
		<td></td>
		<td>
		<input type="button" value='submit' onclick='REGISTER.updatePersonAge()'/>
		</td>
		</tr>
	</table>
</form>
<hr>

<span style='font-size:16px;color:red'>findAll</span>
<form id='form4'>
	<table>
		<tr>
		<td>Name:</td>
		<td><input id='name4' type="text" name='name' /></td>
		</tr>
		<tr>
		<td>Age:</td>
		<td><input id='age4' type="text" name='age' /></td>
		</tr>
		<tr>
		<td>Address:</td>
		<td><input id='address4' type="text" name='address' /></td>
		</tr>
		<tr>
		<td>Birth Day:</td>
		<td><input id='birthDay4' type="text" name='birthDay' /></td>
		</tr>
		<tr>
		<td></td>
		<td>
		<input type="button" value='submit' onclick='REGISTER.findAllByConditions()'/>
		</td>
		</tr>
	</table>
</form>
<div id='searchContent'>

</div>

					<label>WebSocket connection state : </label>
					<button type="button"  onclick="WEBSOCKET.connect()">Connect</button>
					<button type="button" onclick="WEBSOCKET.disconnect()">Disconnect</button>
                    <div id="connState" >   </div>
					<br />
					<br />
					<div >
						<label id="current-date" ></label> <br /> <br /> <input id='sendMessage' type="text" placeholder="Please input text..." />
						<button onclick="WEBSOCKET.send()" type="button">Send</button>
						<br /> <br /> Messages List? <br />
						<table>
							<thead>
							<tr>
								<th>Content</th>
								<th>Time</th>
							</tr>
							</thead>
							<tbody id="socket-content">
							</tbody>
						</table>
					</div>
<div th:insert="~{footer :: footer}"></div>
</body>
</html>